body {
  text-align: center;
}

table {
  display: inline-block;
  margin: 5rem;
}

.element {
  border: 3px solid;
  padding: 1.5rem;
}

.r1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: red;
}

.r2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.arraygen {
    width: 15rem;
    margin: 0.5rem;
}

.algo {
    width: 10rem;
    margin: 0.5rem;
}

.array {
  margin:auto;
}

.heading {
  margin: 3rem;
}

.instruction {
  margin: 4rem;
}

.bg-red {
  background-color:#F58D74;
}

.bg-purple {
  background-color:#BD7CB4;
}

.bg-green {
  background-color:#ADD68A;
}
